<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Best gossip site ever.</h1>
    <p>You can  create a <a href="/gossips/new/">New Gossip</a> if you like to.</p>
    <% gossips.each_with_index do |gossip, index| %>
    <p>
      <a href="/gossips/<%= (index+1) %>"><%= gossip.author %> : <%= gossip.content %><br/></a>     
    </p>
    <% end %>
    
  </body>
</html>