<html>
  <head>
    <title>Write a gossip.</title>
  </head>
  <body>
    <h1>Write a gossip about people you know !</h1>
    <p>Write down your name, and the gossip you want to tell !</p>
    <form action='/gossips/new/' method='POST'>
      Your name :  <input type='text' name='gossip_author'/><br/>
      Your gossip : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>