<html>
  <head>
    <title> Un tas de potins</title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>

  <h1>PAGE POTIN</h1>
  <h3> Voici la page du potin n° <%= id %> </h3>
  
  <p> Son auteur : <span class="bold"><%= gossip.author %> </span></p> 
  <p> Le contenu du potin : <span class="bold"><%= gossip.content %> </span></p>


</body>

</html>